params {
  samplesheet = "${baseDir}/database_pipeline/samplesheet.csv"
  outdir      = "${baseDir}/results"
}
nextflow.enable.dsl=2

process {

    conda = "$HOME/miniconda3/envs/bioinfo_data"

    withName: CLEAN_COUNTS {
        cpus = 2
        memory = '4 GB'
    }
    withName: BUILD_MATRICES {
        cpus = 4
        memory = '8 GB'
    }
    withName: PCA_QC {
        cpus = 2
        memory = '4 GB'
    }
}


conda {
    create = false          // use existing env
    enabled = true
    activate = true
}

profiles {
    standard {
        executor = 'local'
    }
}
